.navbar {
  background-color: transparent;
}

#navbar2 {
  display: none;
  background-color: transparent;
}

#language-typography-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.language-typography-separator {
  color: white;
  font-size: 14px;
  margin: 0 5px;
  font-weight: 500;
}

.navbar-burger {
  width: 5.25rem;
}

.navbar-burger:hover {
  background-color: transparent;
}

.navbar-burger:hover > span {
  transition: 500ms;
  color: #4f4f4f;
}

.navbar-burger > span {
  border-radius: 5px;
  padding: 2px;
  height: 3px !important;
  width: 30px !important;
}

.navbar-menu {
  background-color: transparent;
  animation-duration: 1s;
  position: relative;
}

.navbar-button {
  color: #9da0a7;
  opacity: 0.6;
  font-weight: 600;
  text-transform: uppercase;
  transition: 500ms;
  letter-spacing: 2px;
  font-size: 14px;
}

.navbar-button:hover {
  transition: 500ms;
  color: #4f4f4f;
}

@media screen and (max-width: 1088px) {
  .navbar-menu.is-active {
    background-color: transparent;
    padding: 0;
    box-shadow: unset;
    min-height: 285px;
  }

  .navbar-end {
    position: absolute;
    right: 0;
  }
}
