.vertical-bar-size {
  height: 80px;
}

.horizontal-purple-bar-wrapper {
  min-height: 400px;
}

@media (max-width: 568px) {
  .fac {
    left: 25% !important;
  }
}

.fac {
  left: 33.33%;
}

.fac-infos-wrapper {
  margin-bottom: 10px;
}

.logo {
  height: 70px;
}
