.vertical-bar-size {
  height: 80px;
}

.horizontal-purple-bar-wrapper {
  min-height: 400px;
}

.bottom-0 {
  bottom: 0;
}

.forty-two {
  right: 0;
}

.fac {
  left: 45%;
}

.logo {
  width: 70px;
}
