.experience__container {
  opacity: 0;
  & > h2 {
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-family: 'open-sans-semibold';
    text-align: center;
    margin-bottom: 25px;
  }
  .column {
    & > div {
      background-color: #fff;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    }
  }
}
