@import './font.less';
@import './header.less';
@import './normalize.less';

body {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: 'open-sans-regular';
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.direction-column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}
