@import './font.less';
@import './header.less';
@import './about.less';
@import './normalize.less';

body {
  min-height: 10000px;
  overflow: hidden;
  position: relative;
  font-family: 'open-sans-regular';
}

header {
  min-height: 82px;
}

section {
  padding: 5rem 1.5rem !important;
}
