body {
  min-height: 100vh;
  max-width: 100wh;
  overflow: hidden;
  position: relative;
  background-color: #efefef;
  font-family: "Montserrat", Arial, sans-serif !important;
}

.is-white {
  color: white;
}

.is-main-grey {
  color: #4f4f4f;
}

.is-secondary-grey {
  color: #9da0a7;
}

.is-background-brick {
  background-color: #e8676b !important;
}

.header-and-about-me-container {
  position: relative;
  background-image: url("assets/first-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#about-me::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: -50px;
  height: 200px;
  width: 130%;
  background-color: #efefef;
  transform: rotate(-5deg);
  z-index: 1;
}

.section:first-child {
  margin-top: 52px;
  height: 80vh;
}

.button:focus:not(:active) {
  box-shadow: unset;
}

.button {
  border-style: none;
  background-color: transparent;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.direction-column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.padding-0 {
  padding: 0;
}
