.footer-logo {
  height: 40px;
}

.icon-link:not(:last-child) {
  margin-right: 10px;
}

.mail {
  font-size: 50px;
}

.send {
  transform: rotate(-45deg);
}

.footer-icon {
  margin-right: 5px;
}

.sub-section-title {
  margin-top: 10px;
}
